<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            Cursos disponíveis
        </mat-toolbar>

        <div 
            class="column-flex mat-elevation-z8"
            *ngIf="coursePage$ | async as coursePage;else loading">
            <app-courses-list
                [courses]="coursePage.courses"
                (addCourse)="onAdd()"
                (editCourse)="onEdit($event)"
                (removeCourse)="onRemove($event)">
            </app-courses-list>

            <mat-paginator
                [length]="coursePage.totalElements"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 15]"
                [showFirstLastButtons]="true"
                (page)="refresh($event)"
                aria-label="Selecione a página">
            </mat-paginator>
        </div>

        <ng-template #loading>
            <div class="loading">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>