mat-card {
    max-width: 80%;
    margin: 2em auto;
}

.mat-toolbar {
    font-size: 1.3em;
}

.column-flex {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    background-color: rgba(211, 211, 211, 0.486);
}